<nav class="navbar navbar-dark bg-dark">

  <span class="navbar-brand mb-0 h1">Navbar</span>

  <ul class="nav justify-content-end">
    <!-- <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" href="#">AboutResumeBuilderApp</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-user"></i></a>
    </li>
   
    <li class="nav-item">
       <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        My Profile
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">My Resumes</a>
        <a class="dropdown-item" href="#">Personal Details</a>
        <a class="dropdown-item" href="#">Log Out</a>
      </div>
    </div>
    </li>
  </ul>
</nav>

<div class="container">
  <nav class="nav flex-column">
    <a class="nav-link active" href="#">Active</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link disabled" href="#">Disabled</a>
  </nav>
</div>